@model Category

@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <h4>Kategori Ekleme Ekranı</h4>
    <br />
    <form method="post" class="form-group">
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="CategoryName" />
        <br />
        <button class="btn btn-outline-primary">Kategori Ekle</button>
    </form>
</div>