@model List<Title>

<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        @foreach (var item in Model)
        {
            <li class="nav-item">
                <a href="/Default/Index/@item.TitleId" class="nav-link">
                    <i class="nav-icon far fa-image"></i>
                    <p>
                        @item.TitleName
                    </p>
                </a>
            </li>
        }
    </ul>
</nav>